# Database
DB_PASSWORD=CHANGE_ME

# App
NEXT_PUBLIC_APP_URL=https://brainberg.eu
NEXT_PUBLIC_APP_NAME=Brainberg

# Auth
AUTH_SECRET=CHANGE_ME_AUTH_SECRET
AUTH_URL=https://brainberg.eu

# Cron
CRON_SECRET=CHANGE_ME_CRON_SECRET
